# Server Config
PORT=5000
NODE_ENV=production

# MongoDB Connection
MONGO_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/ecommerce

# JWT & Authentication Keys
JWT_SECRET=your_secret_key_for_json_web_token_signing
JWT_EXPIRES_IN=7d
COOKIE_EXPIRES_IN=7

# Cors Allowed Origins
FRONTEND_URL=https://your-frontend-deploy.vercel.app
